@import url('https://fonts.googleapis.com/css?family=Oleo+Script');


body {
	font-family: "Open Sans", Sans-Serif;
	color: '#303030';
    width: 120px;
}

button {
	height: 40px;
	width: 120px;
	border-radius: 3px;
    padding: 1px;
	outline: none;
    background-color: green;
    color: white;
    font-family: 'Oleo Script', cursive;
    font-weight: bold;
    letter-spacing: 1px;
}
