body {
	font-family: "Open Sans", Sans-Serif;
	color: '#303030';
    width: 120px;
}

button {
	height: 40px;
	width: 100px;
	border-radius: 3px;
    padding-bottom: 10px;
    padding: 5px;
	outline: none;
}
